* {
    margin: 0px;
    padding: 0px;
}

:root {
    --verde-logo: #00C6B0;
    --bege: #C9A37E;
    --laranja: #EF7C45;
    --verde-escuro: #485F42;
    --azul: #7CA5B7;
}

.logo {
    position: absolute;
    top: 20px; 
    left: 20px; 
    display: flex; 
    gap: 10px; 
}

.container {
    position: absolute;
    top: 20px; 
    right: 20px; 
    display: flex; 
    gap: 30px; 
}

.botoes{
    padding: 20px;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}
.botoes:hover {
    background-color: var(--verde-logo);
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);}
      
.botoes:active {
    transform: translateY(-1px);
}

body {
    font-family: "Poppins", Helvetica;
    background-color: #fff;
}

.fundo {
    position: absolute;
	width: 700px;
	height: 700px;
	top: 250px;
	left: 877px;
}

.img {
    width: 603px;
	top: 300PX;
	left: 970px;
	position: absolute;
	height: 647px;
}

.text-1 {
    position: relative;
    top: 450px;
    left: 20px;
    font-size: 50px;
    color: #494949;
    font-family: "Poppins", Helvetica;
}

.text-2 {
    position: relative;
    top: 440px;
    right: 30px;
    font-weight: 600;
    color: #A9A9A9;
    font-family: "Poppins", Helvetica;
}

button {
    padding: 5px;
    background-color: #F4F4F4;
    color: #485F42;
    border-radius: 6px;
}

.nome-produto {
    font-size: 18px;
    font-weight: bold;
    color: #494949;
}

.valor-produto {
    font-size: 14px;
    color: #A9A9A9;
}

.form {
  --bg-light: #efefef;
  --bg-dark: #707070;
  --clr: #58bc82;
  --clr-alpha: #9c9c9c60;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
  max-width: 300px;
}

.form .input-span {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form input[type="email"],
.form input[type="password"] {
  border-radius: 0.5rem;
  padding: 1rem 0.75rem;
  width: 100%;
  border: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--bege);
  outline: 2px solid var(--laranja);
}

.form input[type="email"]:focus,
.form input[type="password"]:focus {
  outline: 2px solid var(--bege);
}

.label {
  align-self: flex-start;
  color: var(--clr);
  font-weight: 600;
}

.form .submit {
  padding: 1rem 0.75rem;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 3rem;
  background-color: var(--bege);
  color: var(--verde-escuro);
  border: none;
  cursor: pointer;
  transition: all 300ms;
  font-weight: 600;
  font-size: 0.9rem;
}

.form .submit:hover {
  background-color: var(--laranja);
  color: var(--azul);
}

.span {
  text-decoration: none;
  color: var(--laranja);
}

.span a {
  color: var(--azul);
}

footer {
    position: relative;
    top: 1865px;
    width: 1575px;
    height: 258px;
    background-color: #fff;
}

p {
    color: #A9A9A9;
    padding: 20px 0px 0px 50px;
}

.logo-footer {
    width: 200px;
    padding: 20px 0px 0px 50px;
}

h6 {
    padding: 20px 0px 0px 50px;
    color: #494949;
}
